@inherits LayoutComponentBase

<div class="astro-app">
    <main class="astro-main">
        @Body
    </main>
    <NavMenu />
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
